<form [formGroup]="tableForm">

  <input type="number" formControlName="rows">
  <div *ngIf="rows.hasError('required')">Value is mandatory</div>
  <div *ngIf="rows.hasError('min')">Must be 1 at least</div>

  <input type="number" formControlName="cols">
  <div *ngIf="cols.hasError('required')">Value is mandatory</div>
  <div *ngIf="cols.hasError('minlength')">Must be 1 at least</div>
</form>

<table>
  <tbody>
  <tr *ngFor="let r of counter(rows.value); let row=index">
    <td *ngFor="let c of counter(cols.value); let col=index">
      <app-case [(color)]="table[row][col]"></app-case>
    </td>
  </tr>
  </tbody>
</table>
